//---> Create   :   2018.06.02
//---> Finish   :   2018.06.02
//---> Update   :   --
/*****************************/

/* bg :
===========================*/
.bg_cover,
.cover {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.bg_center {
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}


/* Background-size */
.bgz_a { background-size: auto !important; }
.bgz_cov { background-size: cover !important; }
.bgz_con { background-size: contain !important; }
.bgz_full { background-size: 100% 100% !important; }
.bgz_full_auto, .bgz_f_a { background-size: 100% auto !important; }


/* Background-position */
.bgp_t 		{ background-position: top !important; }
.bgp_c 		{ background-position: center !important; }
.bgp_b 		{ background-position: bottom !important; }
.bgp_l 		{ background-position: left !important; }
.bgp_r 		{ background-position: right !important; }

.bgp_rt, .bgp_tr 		{ background-position: right top !important; }
.bgp_rc, .bgp_cr 		{ background-position: right center !important; }
.bgp_rb, .bgp_br 		{ background-position: right bottom !important; }

.bgp_lt, .bgp_tl 		{ background-position: left top !important; }
.bgp_lc, .bgp_cl 		{ background-position: left center !important; }
.bgp_lb, .bgp_bl 		{ background-position: left bottom !important; }

.bgp_ct, .bgp_tc 		{ background-position: center top !important; }
.bgp_cc					{ background-position: center center !important; }
.bgp_cb, .bgp_bc 		{ background-position: center bottom !important; }


/* Background-repeat */
.bgr_n 		{ background-repeat: no-repeat !important; }
.bgr_r 		{ background-repeat: repeat !important; }
.bgr_rx 	{ background-repeat: repeat-x !important; }
.bgr_ry 	{ background-repeat: repeat-y !important; }


.bg_fix { background-attachment: fixed !important;}