//---> Create	:	2018.06.02
//---> Finish	:	--
//---> Update	:	--
/*****************************/

/* Image Filters :
===========================*/

/* filter grayscale */
.filter_gray, .filter_gray_100 {
	-webkit-filter: grayscale(1) !important;
    filter: grayscale(1) !important;
}
$i: 10;
@while $i <= 90 {
	.filter_gray_#{$i} {
		-webkit-filter: grayscale($i / 100) !important;
    	filter: grayscale($i / 100) !important;
	}
	$i : $i + 10;
}



/* filter blur */
$i: 0;
@while $i <= 10 {
	.filter_blur_#{$i} {
		-webkit-filter: blur(#{$i}px) !important;
    	filter: blur(#{$i}px) !important;
	}
	$i : $i + 1;
}



/* filter sepia */
.filter_sepia, .filter_sepia_100 {
	-webkit-filter: sepia(1) !important;
    filter: sepia(1) !important;
}
$i: 10;
@while $i <= 90 {
	.filter_sepia_#{$i} {
		-webkit-filter: sepia($i / 100) !important;
    	filter: sepia($i / 100) !important;
	}
	$i : $i + 10;
}
