/* Border :
===========================*/
// we already made border-color classes in _colors.scss
// we need : 
// 		border-width : total && all sides
// 		border-style
//		border-spacing
// 		outline


$border_sides: (
	''	:	'',
	't'	:	'-top',
	'r'	:	'-right',
	'b'	:	'-bottom',
	'l'	:	'-left'
);

/* border-width : */
@each $short, $long in $border_sides {
	/* border#{$long}-width */
	$i: 0;
	@while $i <= 10 {
		.bd#{$short}_#{$i} { border#{$long}-width: #{$i}px; }
		$i: $i + 1;
	}
}


/* border-style : */
$styles: (
	'none',
	'hidden',
	'dotted',
	'dashed',
	'solid',
	'double',
	'groove',
	'ridge',
	'inset',
	'outset'
);


@each $s, $sides in $border_sides {
	$important: '';
	@if $sides != '' { $important: ' !important'; }
	@each $style in $styles {
		.bd#{$s}_#{$style} {
			border#{$sides}-style: #{$style}#{$important};
		}
	}
}





/* Border-Spacing : */
$i: 0;
@while $i <= 10 {
	.bdsp_#{$i} { border-spacing: #{$i}px; }
	
	$i: $i + 1;
}





/* Other : */
.bd_collapse { border-collapse: collapse;}
.bd_sep { border-collapse: separate;}





/* Outline Width : */
$i: 0;
@while $i <= 10 {
	.ot_#{$i} { outline-width: #{$i}px; }
	$i: $i + 1;
}
.ot_thin { outline-width: thin; }
.ot_medium { outline-width: medium; }
.ot_thick { outline-width: thick; }



/* Outline Style : */
@each $style in $styles {
	.ot_#{$style} {
		outline-style: #{$style};
	}
}










