/* Colors :
===========================*/
// we did not add rgba transparency levels; use opacity like example :
//	<div>
//		<!-- background color with opacity -->
//		<div class="cover bg_black op_03"></div>
// 	
//		<div id="main-data">
//			<p class="op_06">
//				some text with opacity
//			</p>
//		</div>
//	</div>



// 1 : text color
// 2 : bg color
// 3 : border color
// 4 : outline color
// 5 : bg hover2level colors






@import 'color_variables';


/* Transition Effects */
.txh {
	@include transition('color', '250', '');
}
.bgh {
	@include transition('background-color', '250', '');
}
.bdh {
	@include transition('border-color', '250', '');
}
.oth {
	@include transition('outline-color', '250', '');
}


/* text colors : */
@each $color_name, $color_array in $colors {
	@each $color_level, $color_value in $color_array {
		@if $color_name == "shades" {
			.#{$color_level} , .txh.txh_#{$color_level}:hover {
				color: #{$color_value};
			}
		}
		@else {
			@if($color_level == "500") {
				.#{$color_name}, .#{$color_name}_#{$color_level} , .txh.txh_#{$color_name}_#{$color_level}:hover { color: #{$color_value}; }
			}
			@else {
				.#{$color_name}_#{$color_level} , .txh.txh_#{$color_name}_#{$color_level}:hover {
					color: #{$color_value};
				}
			}
		}
	}
}





/* bg colors : */
@each $color_name, $color_array in $colors {
	@each $color_level, $color_value in $color_array {
		@if $color_name == "shades" {
			.bg_#{$color_level} , .bgh.bgh_#{$color_level}:hover {
				background-color: #{$color_value};
			}
		}
		@else {
			@if($color_level == "500") {
				.bg_#{$color_name}, .bg_#{$color_name}_#{$color_level} , .bgh.bgh_#{$color_name}_#{$color_level}:hover {
					background-color: #{$color_value};
				}
			}
			@else {
				.bg_#{$color_name}_#{$color_level} , .bgh.bgh_#{$color_name}_#{$color_level}:hover {
					background-color: #{$color_value};
				}
			}
		}
	}
}





/* border colors : */
@each $color_name, $color_array in $colors {
	@each $color_level, $color_value in $color_array {
		@if $color_name == "shades" {
			.bd_#{$color_level} , .bdh.bdh_#{$color_level}:hover {
				border-color: #{$color_value};
			}
		}
		@else {
			@if($color_level == "500") {
				.bd_#{$color_name}, .bd_#{$color_name}_#{$color_level} , .bdh.bdh_#{$color_name}_#{$color_level}:hover {
					border-color: #{$color_value};
				}
			}
			@else {
				.bd_#{$color_name}_#{$color_level} , .bdh.bdh_#{$color_name}_#{$color_level}:hover {
					border-color: #{$color_value};
				}
			}
		}
	}
}




/* outline colors : */
@each $color_name, $color_array in $colors {
	@each $color_level, $color_value in $color_array {
		@if $color_name == "shades" {
			.ot_#{$color_level} , .oth.oth_#{$color_level}:hover {
				outline-color: #{$color_value};
			}
		}
		@else {
			@if($color_level == "500") {
				.ot_#{$color_name}, .ot_#{$color_name}_#{$color_level} , .oth.oth_#{$color_name}_#{$color_level}:hover {
					outline-color: #{$color_value};
				}
			}
			@else {
				.ot_#{$color_name}_#{$color_level} , .oth.oth_#{$color_name}_#{$color_level}:hover {
					outline-color: #{$color_value};
				}
			}
		}
	}
}

