/* Font :
===========================*/

/* font-family : */
.ft_wy { 	font-family: 'webyekan'; word-spacing: 1px; }
.ft_by { 	font-family: 'byekan'; word-spacing: normal; }
.ft_yn { 	font-family: 'yekannum'; word-spacing: normal; }
.ft_is { 	font-family: 'irsans'; word-spacing: normal; }
.ft_ta { 	font-family: 'tahoma'; word-spacing: normal; }
.ft_bs { 	font-family: 'bree serif'; word-spacing: normal; }
.ft_mt { 	font-family: 'monoton'; word-spacing: normal; }


/* font-size PX : */
$i: 6;
@while $i <= 20 {
	.ft_#{$i} { font-size: #{$i}px !important; }
	$i: $i + 1;	
}
$i: 22;
@while $i <= 100 {
	.ft_#{$i} { font-size: #{$i}px !important; }
	$i: $i + 2;
}


/* font-size PT : */
$i: 6;
@while $i <= 30 {
	.ft_#{$i}pt { font-size: #{$i}pt !important; }
	$i: $i + 1;	
}



/* font-style */
.italic , .tx-italic { font-style: italic; }
.bold , .tx-bold { font-weight: bold }
.tx-normal { font-style: normal; }



/* font-weight */
.ftw_100 { font-weight: 100; }
.ftw_200 { font-weight: 200; }
.ftw_300 { font-weight: 300; }
.ftw_400 { font-weight: 400; }
.ftw_500 { font-weight: 500; }
.ftw_600 { font-weight: 600; }
.ftw_700 { font-weight: 700; }
.ftw_800 { font-weight: 800; }
.ftw_900 { font-weight: 900; }
.ftw_n { font-weight: normal; }
.ftw_b { font-weight: bold; }
.ftw_br { font-weight: bolder; }
.ftw_l { font-weight: lighter; }



/* direction */
.ltr { direction: ltr; }
.rtl { direction: rtl; }



/* text-align */
.tx_r { text-align: right; }
.tx_l { text-align: left; }
.tx_c { text-align: center; }
.tx_j { text-align: justify; }



/* line height % */
$i: 50;
@while $i <= 300 {
	// .lh_#{$i} { line-height: #{$i}unquote('%'); }
	.lh_#{$i} { line-height: $i / 100; }
	$i: $i + 10;
}

/* line height PX */
$i: 10;
@while $i <= 50 {
	.lh_#{$i}px { line-height: #{$i}px; }
	$i: $i + 1;
}
$i: 55;
@while $i <= 100 {
	.lh_#{$i}px { line-height: #{$i}px; }
	$i: $i + 5;
}



/* letter-spacing : */
.letsp_n		{	letter-spacing: normal; }
@for $i from 1 through 5 {
	.letsp_#{$i} { letter-spacing: #{$i}px; }
}



/* word-spacing : */
.wordsp_n		{	word-spacing: normal; }
@for $i from 1 through 5 {
	.wordsp_#{$i} { word-spacing: #{$i}px; }
}







