 
body {
	min-width: 300px;
}


.container {
	width: 1200px;
	margin-left: auto;
	margin-right: auto
}
@media (max-width: 1220px) {
	.container {
		width: calc(100% - 40px);
	}
}
@media (max-width: 800px) {
	.container {
		width: calc(100% - 20px);
	}
}
@media (max-width: 600px) {
	.container {
		width: calc(100% - 10px);
	}
}
@media (max-width: 400px) {
	.container {
		width: 100%;
	}
}

.container.full {
	width: 100%;
}

.row {
}

.col {
	float: right;
}

.col-1 {
	width: 8.333333%
}

.col-2 {
	width: 16.666667%
}

.col-3 {
	width: 25%
}

.col-4 {
	width: 33.333333%
}

.col-5 {
	width: 41.666667%
}

.col-6 {
	width: 50%
}

.col-7 {
	width: 58.333333%
}

.col-8 {
	width: 66.666667%
}

.col-9 {
	width: 75%
}

.col-10 {
	width: 83.333333%
}

.col-11 {
	width: 91.666667%
}

.col-12 {
	width: 100%
}

.offset-1 {
	margin-right: 8.333333%
}

.offset-2 {
	margin-right: 16.666667%
}

.offset-3 {
	margin-right: 25%
}

.offset-4 {
	margin-right: 33.333333%
}

.offset-5 {
	margin-right: 41.666667%
}

.offset-6 {
	margin-right: 50%
}

.offset-7 {
	margin-right: 58.333333%
}

.offset-8 {
	margin-right: 66.666667%
}

.offset-9 {
	margin-right: 75%
}

.offset-10 {
	margin-right: 83.333333%
}

.offset-11 {
	margin-right: 91.666667%
}





// Show All && Hide All :
.col.hide_all, .col.all_hide { display: none }




$w_percentage : (
	1	:	8.333333%,
	2	:	16.666667%,
	3	:	25%,
	4	:	33.333333%,
	5	:	41.666667%,
	6	:	50%,
	7	:	58.333333%,
	8	:	66.666667%,
	9	:	75%,
	10	:	83.333333%,
	11	:	91.666667%,
	12	:	100%
);

$w: 1200;
@while ($w >= 300) {
	@media (max-width: #{$w}px) {
		// b1000 means : bellow 1000px
		
		// col width :
		@each $cols, $percentage in $w_percentage {
			.col.b#{$w}_#{$cols} {
				width: #{$percentage}
			}
		}
		
		// offset :
		@each $cols, $percentage in $w_percentage {
			.col.b#{$w}_o_#{$cols} {
				margin-right: #{$percentage}
			}
		}
		
		// show :
		.col.r#{$w}_show { display: block !important } // show range 

		// hide :
		.col.r#{$w}_hide { display: none !important } // hide range
	}
	$w : $w - 100;
}






// hide below :
@media (max-width: 1200px) {
	.b1200_hide { display: none }
}
@media (max-width: 1100px) {
	.b1100_hide { display: none }
	.b1200_hide { display: block }
}
@media (max-width: 1000px) {
	.b1000_hide { display: none }
	.b1200_hide, .b1100_hide { display: block }
}
@media (max-width: 900px) {
	.b900_hide { display: none }
	.b1200_hide, .b1100_hide, .b1000_hide { display: block }
}
@media (max-width: 800px) {
	.b800_hide { display: none }
	.b1200_hide, .b1100_hide, .b1000_hide, .b900_hide { display: block }
}
@media (max-width: 700px) {
	.b700_hide { display: none }
	.b1200_hide, .b1100_hide, .b1000_hide, .b900_hide, .b800_hide { display: block }
}
@media (max-width: 600px) {
	.b600_hide { display: none }
	.b1200_hide, .b1100_hide, .b1000_hide, .b900_hide, .b800_hide, .b700_hide { display: block }
}
@media (max-width: 500px) {
	.b500_hide { display: none }
	.b1200_hide, .b1100_hide, .b1000_hide, .b900_hide, .b800_hide, .b700_hide, .b600_hide { display: block }
}
@media (max-width: 400px) {
	.b400_hide { display: none }
	.b1200_hide, .b1100_hide, .b1000_hide, .b900_hide, .b800_hide, .b700_hide, .b600_hide, .b500_hide { display: block }
}
@media (max-width: 300px) {
	.b300_hide { display: none }
	.b1200_hide, .b1100_hide, .b1000_hide, .b900_hide, .b800_hide, .b700_hide, .b600_hide, .b500_hide, .b400_hide { display: block }
}



// hide above :
@media (min-width: 300px) {
	.a300_hide { display: none }
}
@media (min-width: 400px) {
	.a400_hide { display: none }
	.a300_hide { display: block }
}
@media (min-width: 500px) {
	.a500_hide { display: none }
	.a300_hide, .a400_hide { display: block }
}
@media (min-width: 600px) {
	.a600_hide { display: none }
	.a300_hide, .a400_hide, .a500_hide { display: block }
}
@media (min-width: 700px) {
	.a700_hide { display: none }
	.a300_hide, .a400_hide, .a500_hide, .a600_hide { display: block }
}
@media (min-width: 800px) {
	.a800_hide { display: none }
	.a300_hide, .a400_hide, .a500_hide, .a600_hide, .a700_hide { display: block }
}
@media (min-width: 900px) {
	.a900_hide { display: none }
	.a300_hide, .a400_hide, .a500_hide, .a600_hide, .a700_hide, .a800_hide { display: block }
}
@media (min-width: 1000px) {
	.a1000_hide { display: none }
	.a300_hide, .a400_hide, .a500_hide, .a600_hide, .a700_hide, .a800_hide, .a900_hide { display: block }
}
@media (min-width: 1100px) {
	.a1100_hide { display: none }
	.a300_hide, .a400_hide, .a500_hide, .a600_hide, .a700_hide, .a800_hide, .a900_hide, .a1000_hide { display: block }
}
@media (min-width: 1200px) {
	.a1200_hide { display: none }
	.a300_hide, .a400_hide, .a500_hide, .a600_hide, .a700_hide, .a800_hide, .a900_hide, .a1000_hide, .a1100_hide { display: block }
}






// show below :
@media (max-width: 1200px) {
	.b1200_show { display: block }
	.b300_show, .b400_show, .b500_show, .b600_show, .b700_show, .b800_show, .b900_show, .b1000_show, .b1100_show { display: none }
}
@media (max-width: 1100px) {
	.b1100_show { display: block }
	.b300_show, .b400_show, .b500_show, .b600_show, .b700_show, .b800_show, .b900_show, .b1000_show { display: none }
}
@media (max-width: 1000px) {
	.b1000_show { display: block }
	.b300_show, .b400_show, .b500_show, .b600_show, .b700_show, .b800_show, .b900_show { display: none }
}
@media (max-width: 900px) {
	.b900_show { display: block }
	.b300_show, .b400_show, .b500_show, .b600_show, .b700_show, .b800_show { display: none }
}
@media (max-width: 800px) {
	.b800_show { display: block }
	.b300_show, .b400_show, .b500_show, .b600_show, .b700_show { display: none }
}
@media (max-width: 700px) {
	.b700_show { display: block }
	.b300_show, .b400_show, .b500_show, .b600_show { display: none }
}
@media (max-width: 600px) {
	.b600_show { display: block }
	.b300_show, .b400_show, .b500_show { display: none }
}
@media (max-width: 500px) {
	.b500_show { display: block }
	.b300_show, .b400_show { display: none }
}
@media (max-width: 400px) {
	.b400_show { display: block }
	.b300_show { display: none }
}
@media (max-width: 300px) {
	.b300_show { display: block }
}



// show above :
@media (min-width: 300px) {
	.a300_show { display: block }
	.a400_show, .a500_show, .a600_show, .a700_show, .a800_show, .a900_show, .a1000_show, .a1100_show, .a1200_show { display: none }
}
@media (min-width: 400px) {
	.a400_show { display: block }
	.a500_show, .a600_show, .a700_show, .a800_show, .a900_show, .a1000_show, .a1100_show, .a1200_show { display: none }
}
@media (min-width: 500px) {
	.a500_show { display: block }
	.a600_show, .a700_show, .a800_show, .a900_show, .a1000_show, .a1100_show, .a1200_show { display: none }
}
@media (min-width: 600px) {
	.a600_show { display: block }
	.a700_show, .a800_show, .a900_show, .a1000_show, .a1100_show, .a1200_show { display: none }
}
@media (min-width: 700px) {
	.a700_show { display: block }
	.a800_show, .a900_show, .a1000_show, .a1100_show, .a1200_show { display: none }
}
@media (min-width: 800px) {
	.a800_show { display: block }
	.a900_show, .a1000_show, .a1100_show, .a1200_show { display: none }
}
@media (min-width: 900px) {
	.a900_show { display: block }
	.a1000_show, .a1100_show, .a1200_show { display: none }
}
@media (min-width: 1000px) {
	.a1000_show { display: block }
	.a1100_show, .a1200_show { display: none }
}
@media (min-width: 1100px) {
	.a1100_show { display: block }
	.a1200_show { display: none }
}
@media (min-width: 1200px) {
	.a1200_show { display: block }
}