/* Separators :
===========================*/
// Example : .bg_red.bg_dark_1 .sep {  }





.sep {
	padding: 0;
	width: 100%;
	height: 0;
	border-top-width: 1px;
	border-bottom-width: 1px;
	border-style: solid;
	box-sizing: content-box;
}
.sep .sep_simple {
	height: 1px;
	background-color: #FFF;
	opacity: 0.6;
}


// we need all colors;
@import 'color_variables';

// @each $color_name, $color_array in $colors {
// 	@each $color_level, $color_value in $color_array {
// 		@if $color_level == 'base' {
// 			.bg_#{$color_name}.sep {
// 				border-top-color: #FA8072;
// 				border-bottom-color: #FA8072;
// 			}
// 		}
// 		.bg_#{$color_name}.bg_#{$color_level}.sep {
// 			border-top-color: #FA8072;
// 				border-bottom-color: #FA8072;
// 		}
// 	}
// }





