/* Rotate :
===========================*/
.rot_45		{ transform: rotate(45deg); }
.rot_90		{ transform: rotate(90deg); }
.rot_135	{ transform: rotate(135deg); }
.rot_180	{ transform: rotate(180deg); }
.rot_225	{ transform: rotate(225deg); }
.rot_270	{ transform: rotate(270deg); }
.rot_315	{ transform: rotate(315deg); }
.rot_360	{ transform: rotate(360deg); }