/* Width :
===========================*/
.w_a   		{ 	width:  auto; }
.w_full   	{ 	width:  100%; }

/* width px : */
$i: 0;
@while $i <= 1000 {
	.w_#{$i} { width: #{$i}px; }
	
	@if $i < 50 {
		$i: $i + 1;
	}
	@else if $i < 100 {
		$i: $i + 5;
	}
	@else {
		$i: $i + 50;
	}
}




/* width % : */
$i: 5;
@while $i <= 100 {
	.w_#{$i}pc { width: #{$i}unquote("%"); }
	$i: $i + 5;
}




/* width minus : */
$i: 5;
@while $i <= 95 {
	.w_-#{$i} { width: calc(100% - #{$i}px); }
	$i: $i + 5;
}




/* min width : */
$i: 5;
@while $i <= 1000 {
	.mw_#{$i} {
		min-width: #{$i}px;
	}
	@if $i < 50 {
		$i: $i + 5;
	}
	@else if $i < 100 {
		$i: $i + 10;
	}
	@else {
		$i: $i + 50;
	}
}




/* max width : */
$i: 5;
@while $i <= 1000 {
	.mxw_#{$i} {
		max-width: #{$i}px;
	}
	@if $i < 50 {
		$i: $i + 5;
	}
	@else if $i < 100 {
		$i: $i + 10;
	}
	@else {
		$i: $i + 50;
	}
}









/* Height :
===========================*/
.h_a   		{ 	height:  auto; }
.h_full   	{ 	height:  100%; }

/* height px : */
$i: 0;
@while $i <= 1000 {
	.h_#{$i} { height: #{$i}px; }
	
	@if $i < 50 {
		$i: $i + 1;
	}
	@else if $i < 100 {
		$i: $i + 5;
	}
	@else {
		$i: $i + 50;
	}
}



/* height % : */
$i: 5;
@while $i <= 100 {
	.h_#{$i}pc { height: #{$i}unquote("%"); }
	$i: $i + 5;
}




/* min height : */
$i: 5;
@while $i <= 1000 {
	.mh_#{$i} {
		min-height: #{$i}px;
	}
	@if $i < 50 {
		$i: $i + 5;
	}
	@else if $i < 100 {
		$i: $i + 10;
	}
	@else {
		$i: $i + 50;
	}
}





/* max height : */
$i: 5;
@while $i <= 1000 {
	.mxh_#{$i} {
		max-height: #{$i}px;
	}
	@if $i < 50 {
		$i: $i + 5;
	}
	@else if $i < 100 {
		$i: $i + 10;
	}
	@else {
		$i: $i + 50;
	}
}





